@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --btnBorder: #6116ff;
  --successBtn: #80f092;
}

* {
  background-color: #161827;
  color: "white";
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn:hover {
  box-shadow: 0px -4px 0px 0px var(--btnBorder) inset;
  -webkit-box-shadow: 0px -4px 0px 0px var(--btnBorder) inset;
  -moz-box-shadow: 0px -4px 0px 0px var(--btnBorder) inset;
}

.res-btn:hover {
  box-shadow: 0px -4px 0px 0px var(--successBtn) inset;
  -webkit-box-shadow: 0px -4px 0px 0px var(--successBtn) inset;
  -moz-box-shadow: 0px -4px 0px 0px var(--successBtn) inset;
}